// EntypoRegular Icons
$e-user-add: ""; 
$e-address: ""; 
$e-list-add: ""; 
$e-bell: "🔔"; 
$e-attach: ""; 
$e-back: ""; 
$e-back-alt: ""; 
$e-block: "🚫"; 
$e-wifi: ""; 
$e-calendar: "📅"; 
$e-camera: "📷"; 
$e-target: "🎯"; 
$e-chat: ""; 
$e-close: "✕"; 
$e-check: "✓"; 
$e-cancel: "✖"; 
$e-comment: ""; 
$e-compass: ""; 
$e-vcard: ""; 
$e-user: "👤"; 
$e-users: "👥"; 
$e-direction: ""; 
$e-mail: "✉"; 
$e-export: ""; 
$e-flag: "⚑"; 
$e-flash: "⚡"; 
$e-flight: "✈"; 
$e-forward: "➦"; 
$e-google-circles: ""; 
$e-heart: "♥"; 
$e-heart-empty: "♡"; 
$e-help: "❓"; 
$e-help-circle: ""; 
$e-image-list: "⚏"; 
$e-info: "ℹ"; 
$e-info-circle: ""; 
$e-leaf: "🍂"; 
$e-level-down: "↳"; 
$e-lifebuoy: ""; 
$e-thumbs-up: "📝"; 
$e-link: "🔗"; 
$e-list: "☰"; 
$e-location: ""; 
$e-lock: "🔒"; 
$e-map: ""; 
$e-mic: "🎤"; 
$e-minus: "➖"; 
$e-minus-circle: ""; 
$e-mobile: "📱"; 
$e-mouse: ""; 
$e-film: "🎬"; 
$e-music: "🎵"; 
$e-tag: ""; 
$e-palette: "🎨"; 
$e-phone: "📞"; 
$e-plus: "➕"; 
$e-plus-circle: ""; 
$e-print: ""; 
$e-quote-right: "❞"; 
$e-reload-ccw: "⟲"; 
$e-reload-cw: "⟳"; 
$e-reply: ""; 
$e-reply-all: ""; 
$e-retweet: ""; 
$e-rss: ""; 
$e-search: "🔍"; 
$e-search-alt: "🔎"; 
$e-settings: "⚙"; 
$e-share: ""; 
$e-shopping-cart: ""; 
$e-shuffle: "🔀"; 
$e-moon: "☽"; 
$e-star: "★"; 
$e-star-empty: "☆"; 
$e-clock: "🕔"; 
$e-hourglass: "⏳"; 
$e-top-list: "🏉"; 
$e-lock-open: "🔓"; 
$e-eye: ""; 
$e-warning: "⚠"; 
$e-pencil: "✃"; 
$e-archive: ""; 
$e-arrow-down-circle2: ""; 
$e-arrow-left-circle2: ""; 
$e-arrow-right-circle2: ""; 
$e-arrow-up-circle2: ""; 
$e-arrow-down-open: ""; 
$e-arrow-left-open: ""; 
$e-arrow-right-open: ""; 
$e-arrow-up-open: ""; 
$e-arrow-down-thin: "⬇"; 
$e-arrow-left-thin: "⬅"; 
$e-arrow-right-thin: "➡"; 
$e-arrow-up-thin: "⬆"; 
$e-arrow-down-dir: "▾"; 
$e-arrow-left-dir: "◂"; 
$e-arrow-right-dir: "▸"; 
$e-arrow-up-dir: "▴"; 
$e-arrow-down-bold: ""; 
$e-arrow-left-bold: ""; 
$e-arrow-right-bold: ""; 
$e-arrow-up-bold: ""; 
$e-arrow-down: "↓"; 
$e-arrow-left: "←"; 
$e-arrow-right: "→"; 
$e-arrow-up: "↑"; 
$e-progress-0: ""; 
$e-progress-1: ""; 
$e-progress-2: ""; 
$e-progress-3: ""; 
$e-play: "▶"; 
$e-stop: "▪"; 
$e-pause: "⎉"; 
$e-record: "⚫"; 
$e-right-end: "⏭"; 
$e-left-start: "⏮"; 
$e-right-ff: "⏩"; 
$e-left-fb: "⏪"; 
$e-book-open: "📖"; 
$e-bookmark: "🔖"; 
$e-battery: "🔋"; 
$e-back-in-time: ""; 
$e-home: "⌂"; 
$e-dot: ""; 
$e-dot-2: ""; 
$e-dot-3: ""; 
$e-lamp: "💡"; 
$e-light-down: "🔅"; 
$e-light-up: "🔆"; 
$e-trash: ""; 
$e-doc: ""; 
$e-docs: ""; 
$e-docs-landscape: ""; 
$e-doc-text: "📄"; 
$e-volume-off: "🔇"; 
$e-volume-up: "🔊"; 
$e-volume: ""; 
$e-cloud: "☁"; 
$e-keyboard: "⌨"; 
$e-folder: "📁"; 
$e-download: ""; 
$e-upload: ""; 
$e-upload-cloud: ""; 
$e-code: ""; 
$e-popup: ""; 
$e-publish: ""; 
$e-feather: ""; 
$e-resize-full: ""; 
$e-resize-small: ""; 
$e-globe: ""; 
$e-cd: "💿"; 
$e-monitor: "💻"; 
$e-image: "🌄"; 
$e-arrow-combo: ""; 
$e-window: ""; 
$e-song: ""; 
$e-inbox: ""; 
$e-install: ""; 
$e-bag: ""; 
$e-bag-alt: ""; 
$e-net: ""; 
$e-cc: ""; 
$e-logo-entypo: ""; 
$e-flag-sw: ""; 
$e-logo-db: ""; 