// Import demo layout
@import "demo-layout";

// Import font-icons compass extension
@import "font-icons";

@include font-icon-family(entypo);

ul.entypo {
  list-style: none;
  list-style-image: none;
  li {
    @include font-icon-base(entypo); 
    &.entypo-music { @extend .entypo-music; }
    &.entypo-music-alt { @extend .entypo-music-alt; }
    &.entypo-search { @extend .entypo-search; }
    &.entypo-search-alt { @extend .entypo-search-alt; }
    &.entypo-mail { @extend .entypo-mail; }
    &.entypo-heart { @extend .entypo-heart; }
    &.entypo-heart-empty { @extend .entypo-heart-empty; }
    &.entypo-star { @extend .entypo-star; }
    &.entypo-star-empty { @extend .entypo-star-empty; }
    &.entypo-user { @extend .entypo-user; }
    &.entypo-users { @extend .entypo-users; }
    &.entypo-user-add { @extend .entypo-user-add; }
    &.entypo-video { @extend .entypo-video; }
    &.entypo-picture { @extend .entypo-picture; }
    &.entypo-camera { @extend .entypo-camera; }
    &.entypo-th { @extend .entypo-th; }
    &.entypo-th-list { @extend .entypo-th-list; }
    &.entypo-ok { @extend .entypo-ok; }
    &.entypo-cancel { @extend .entypo-cancel; }
    &.entypo-cancel-circle { @extend .entypo-cancel-circle; }
    &.entypo-plus { @extend .entypo-plus; }
    &.entypo-plus-circle { @extend .entypo-plus-circle; }
    &.entypo-minus { @extend .entypo-minus; }
    &.entypo-minus-circle { @extend .entypo-minus-circle; }
    &.entypo-help { @extend .entypo-help; }
    &.entypo-help-circle { @extend .entypo-help-circle; }
    &.entypo-info { @extend .entypo-info; }
    &.entypo-info-circle { @extend .entypo-info-circle; }
    &.entypo-back { @extend .entypo-back; }
    &.entypo-back-alt { @extend .entypo-back-alt; }
    &.entypo-home { @extend .entypo-home; }
    &.entypo-link { @extend .entypo-link; }
    &.entypo-attach { @extend .entypo-attach; }
    &.entypo-lock { @extend .entypo-lock; }
    &.entypo-lock-open { @extend .entypo-lock-open; }
    &.entypo-eye { @extend .entypo-eye; }
    &.entypo-tag { @extend .entypo-tag; }
    &.entypo-bookmark { @extend .entypo-bookmark; }
    &.entypo-flag { @extend .entypo-flag; }
    &.entypo-thumbs-up { @extend .entypo-thumbs-up; }
    &.entypo-download { @extend .entypo-download; }
    &.entypo-upload { @extend .entypo-upload; }
    &.entypo-upload-cloud { @extend .entypo-upload-cloud; }
    &.entypo-reply { @extend .entypo-reply; }
    &.entypo-reply-all { @extend .entypo-reply-all; }
    &.entypo-forward { @extend .entypo-forward; }
    &.entypo-quote-right { @extend .entypo-quote-right; }
    &.entypo-code { @extend .entypo-code; }
    &.entypo-export { @extend .entypo-export; }
    &.entypo-pencil { @extend .entypo-pencil; }
    &.entypo-feather { @extend .entypo-feather; }
    &.entypo-print { @extend .entypo-print; }
    &.entypo-retweet { @extend .entypo-retweet; }
    &.entypo-keyboard { @extend .entypo-keyboard; }
    &.entypo-comment { @extend .entypo-comment; }
    &.entypo-chat { @extend .entypo-chat; }
    &.entypo-bell { @extend .entypo-bell; }
    &.entypo-attention { @extend .entypo-attention; }
    &.entypo-vcard { @extend .entypo-vcard; }
    &.entypo-address { @extend .entypo-address; }
    &.entypo-location { @extend .entypo-location; }
    &.entypo-map { @extend .entypo-map; }
    &.entypo-direction { @extend .entypo-direction; }
    &.entypo-compass { @extend .entypo-compass; }
    &.entypo-trash { @extend .entypo-trash; }
    &.entypo-doc { @extend .entypo-doc; }
    &.entypo-docs { @extend .entypo-docs; }
    &.entypo-docs-landscape { @extend .entypo-docs-landscape; }
    &.entypo-doc-text { @extend .entypo-doc-text; }
    &.entypo-book-open { @extend .entypo-book-open; }
    &.entypo-folder { @extend .entypo-folder; }
    &.entypo-archive { @extend .entypo-archive; }
    &.entypo-rss { @extend .entypo-rss; }
    &.entypo-phone { @extend .entypo-phone; }
    &.entypo-cog { @extend .entypo-cog; }
    &.entypo-share { @extend .entypo-share; }
    &.entypo-basket { @extend .entypo-basket; }
    &.entypo-calendar { @extend .entypo-calendar; }
    &.entypo-mic { @extend .entypo-mic; }
    &.entypo-volume-off { @extend .entypo-volume-off; }
    &.entypo-volume-up { @extend .entypo-volume-up; }
    &.entypo-volume { @extend .entypo-volume; }
    &.entypo-clock { @extend .entypo-clock; }
    &.entypo-hourglass { @extend .entypo-hourglass; }
    &.entypo-lamp { @extend .entypo-lamp; }
    &.entypo-light-down { @extend .entypo-light-down; }
    &.entypo-light-up { @extend .entypo-light-up; }
    &.entypo-block { @extend .entypo-block; }
    &.entypo-resize-full { @extend .entypo-resize-full; }
    &.entypo-resize-small { @extend .entypo-resize-small; }
    &.entypo-popup { @extend .entypo-popup; }
    &.entypo-publish { @extend .entypo-publish; }
    &.entypo-window { @extend .entypo-window; }
    &.entypo-arrow-combo { @extend .entypo-arrow-combo; }
    &.entypo-down-circle2 { @extend .entypo-down-circle2; }
    &.entypo-left-circle2 { @extend .entypo-left-circle2; }
    &.entypo-right-circle2 { @extend .entypo-right-circle2; }
    &.entypo-up-circle2 { @extend .entypo-up-circle2; }
    &.entypo-down-open { @extend .entypo-down-open; }
    &.entypo-left-open { @extend .entypo-left-open; }
    &.entypo-right-open { @extend .entypo-right-open; }
    &.entypo-up-open { @extend .entypo-up-open; }
    &.entypo-down-thin { @extend .entypo-down-thin; }
    &.entypo-left-thin { @extend .entypo-left-thin; }
    &.entypo-right-thin { @extend .entypo-right-thin; }
    &.entypo-up-thin { @extend .entypo-up-thin; }
    &.entypo-down-dir { @extend .entypo-down-dir; }
    &.entypo-left-dir { @extend .entypo-left-dir; }
    &.entypo-right-dir { @extend .entypo-right-dir; }
    &.entypo-up-dir { @extend .entypo-up-dir; }
    &.entypo-down-bold { @extend .entypo-down-bold; }
    &.entypo-left-bold { @extend .entypo-left-bold; }
    &.entypo-right-bold { @extend .entypo-right-bold; }
    &.entypo-up-bold { @extend .entypo-up-bold; }
    &.entypo-down { @extend .entypo-down; }
    &.entypo-left { @extend .entypo-left; }
    &.entypo-right { @extend .entypo-right; }
    &.entypo-up { @extend .entypo-up; }
    &.entypo-ccw { @extend .entypo-ccw; }
    &.entypo-cw { @extend .entypo-cw; }
    &.entypo-level-down { @extend .entypo-level-down; }
    &.entypo-shuffle { @extend .entypo-shuffle; }
    &.entypo-play { @extend .entypo-play; }
    &.entypo-stop { @extend .entypo-stop; }
    &.entypo-pause { @extend .entypo-pause; }
    &.entypo-record { @extend .entypo-record; }
    &.entypo-to-end { @extend .entypo-to-end; }
    &.entypo-to-start { @extend .entypo-to-start; }
    &.entypo-fast-fw { @extend .entypo-fast-fw; }
    &.entypo-fast-bw { @extend .entypo-fast-bw; }
    &.entypo-progress-0 { @extend .entypo-progress-0; }
    &.entypo-progress-1 { @extend .entypo-progress-1; }
    &.entypo-progress-2 { @extend .entypo-progress-2; }
    &.entypo-progress-3 { @extend .entypo-progress-3; }
    &.entypo-target { @extend .entypo-target; }
    &.entypo-palette { @extend .entypo-palette; }
    &.entypo-list-add { @extend .entypo-list-add; }
    &.entypo-signal { @extend .entypo-signal; }
    &.entypo-top-list { @extend .entypo-top-list; }
    &.entypo-battery { @extend .entypo-battery; }
    &.entypo-back-in-time { @extend .entypo-back-in-time; }
    &.entypo-monitor { @extend .entypo-monitor; }
    &.entypo-mobile { @extend .entypo-mobile; }
    &.entypo-net { @extend .entypo-net; }
    &.entypo-cd { @extend .entypo-cd; }
    &.entypo-inbox { @extend .entypo-inbox; }
    &.entypo-install { @extend .entypo-install; }
    &.entypo-globe { @extend .entypo-globe; }
    &.entypo-cloud { @extend .entypo-cloud; }
    &.entypo-flash { @extend .entypo-flash; }
    &.entypo-moon { @extend .entypo-moon; }
    &.entypo-flight { @extend .entypo-flight; }
    &.entypo-leaf { @extend .entypo-leaf; }
    &.entypo-lifebuoy { @extend .entypo-lifebuoy; }
    &.entypo-mouse { @extend .entypo-mouse; }
    &.entypo-bag { @extend .entypo-bag; }
    &.entypo-dot { @extend .entypo-dot; }
    &.entypo-dot-2 { @extend .entypo-dot-2; }
    &.entypo-dot-3 { @extend .entypo-dot-3; }
    &.entypo-google-circles { @extend .entypo-google-circles; }
    &.entypo-cc { @extend .entypo-cc; }
    &.entypo-logo-entypo { @extend .entypo-logo-entypo; }
    &.entypo-flag-sw { @extend .entypo-flag-sw; }
    &.entypo-logo-db { @extend .entypo-logo-db; }
 }
}

@include font-icon-family(iconic);

ul.iconic {
  list-style: none;
  list-style-image: none;
  li {
    @include font-icon-base(iconic); 
    &.iconic-lightbulb { @extend .iconic-lightbulb }
    &.iconic-equalizer { @extend .iconic-equalizer }
    &.iconic-brush_alt { @extend .iconic-brush_alt }
    &.iconic-move  { @extend .iconic-move }
    &.iconic-tag_fill  { @extend .iconic-tag_fill }
    &.iconic-book_alt2 { @extend .iconic-book_alt2 }
    &.iconic-layers  { @extend .iconic-layers }
    &.iconic-chat_alt_fill { @extend .iconic-chat_alt_fill }
    &.iconic-layers_alt  { @extend .iconic-layers_alt }
    &.iconic-cloud_upload  { @extend .iconic-cloud_upload }
    &.iconic-chart_alt { @extend .iconic-chart_alt }
    &.iconic-fullscreen_exit_alt { @extend .iconic-fullscreen_exit_alt }
    &.iconic-cloud_download  { @extend .iconic-cloud_download }
    &.iconic-paperclip { @extend .iconic-paperclip }
    &.iconic-heart_fill  { @extend .iconic-heart_fill }
    &.iconic-mail  { @extend .iconic-mail }
    &.iconic-pen_alt_fill  { @extend .iconic-pen_alt_fill }
    &.iconic-check_alt { @extend .iconic-check_alt }
    &.iconic-battery_charging  { @extend .iconic-battery_charging }
    &.iconic-lock_fill { @extend .iconic-lock_fill }
    &.iconic-stop  { @extend .iconic-stop }
    &.iconic-arrow_up  { @extend .iconic-arrow_up }
    &.iconic-move_horizontal { @extend .iconic-move_horizontal }
    &.iconic-compass { @extend .iconic-compass }
    &.iconic-minus_alt { @extend .iconic-minus_alt }
    &.iconic-battery_empty { @extend .iconic-battery_empty }
    &.iconic-comment_fill  { @extend .iconic-comment_fill }
    &.iconic-map_pin_alt { @extend .iconic-map_pin_alt }
    &.iconic-question_mark { @extend .iconic-question_mark }
    &.iconic-list  { @extend .iconic-list }
    &.iconic-upload  { @extend .iconic-upload }
    &.iconic-reload  { @extend .iconic-reload }
    &.iconic-loop_alt4 { @extend .iconic-loop_alt4 }
    &.iconic-loop_alt3 { @extend .iconic-loop_alt3 }
    &.iconic-loop_alt2 { @extend .iconic-loop_alt2 }
    &.iconic-loop_alt1 { @extend .iconic-loop_alt1 }
    &.iconic-left_quote  { @extend .iconic-left_quote }
    &.iconic-x { @extend .iconic-x }
    &.iconic-last  { @extend .iconic-last }
    &.iconic-bars  { @extend .iconic-bars }
    &.iconic-arrow_left  { @extend .iconic-arrow_left }
    &.iconic-arrow_down  { @extend .iconic-arrow_down }
    &.iconic-download  { @extend .iconic-download }
    &.iconic-home  { @extend .iconic-home }
    &.iconic-calendar  { @extend .iconic-calendar }
    &.iconic-right_quote_alt { @extend .iconic-right_quote_alt }
    &.iconic-unlock_fill { @extend .iconic-unlock_fill }
    &.iconic-fullscreen  { @extend .iconic-fullscreen }
    &.iconic-dial  { @extend .iconic-dial }
    &.iconic-plus_alt  { @extend .iconic-plus_alt }
    &.iconic-clock { @extend .iconic-clock }
    &.iconic-movie { @extend .iconic-movie }
    &.iconic-steering_wheel  { @extend .iconic-steering_wheel }
    &.iconic-pen { @extend .iconic-pen }
    &.iconic-pin { @extend .iconic-pin }
    &.iconic-denied  { @extend .iconic-denied }
    &.iconic-left_quote_alt  { @extend .iconic-left_quote_alt }
    &.iconic-volume_mute { @extend .iconic-volume_mute }
    &.iconic-umbrella  { @extend .iconic-umbrella }
    &.iconic-list_nested { @extend .iconic-list_nested }
    &.iconic-arrow_up_alt1 { @extend .iconic-arrow_up_alt1 }
    &.iconic-undo  { @extend .iconic-undo }
    &.iconic-pause { @extend .iconic-pause }
    &.iconic-bolt  { @extend .iconic-bolt }
    &.iconic-article { @extend .iconic-article }
    &.iconic-read_more { @extend .iconic-read_more }
    &.iconic-beaker  { @extend .iconic-beaker }
    &.iconic-beaker_alt  { @extend .iconic-beaker_alt }
    &.iconic-battery_full  { @extend .iconic-battery_full }
    &.iconic-arrow_right { @extend .iconic-arrow_right }
    &.iconic-iphone  { @extend .iconic-iphone }
    &.iconic-arrow_up_alt2 { @extend .iconic-arrow_up_alt2 }
    &.iconic-cog { @extend .iconic-cog }
    &.iconic-award_fill  { @extend .iconic-award_fill }
    &.iconic-first { @extend .iconic-first }
    &.iconic-trash_fill  { @extend .iconic-trash_fill }
    &.iconic-image { @extend .iconic-image }
    &.iconic-comment_alt1_fill { @extend .iconic-comment_alt1_fill }
    &.iconic-cd  { @extend .iconic-cd }
    &.iconic-right_quote { @extend .iconic-right_quote }
    &.iconic-brush { @extend .iconic-brush }
    &.iconic-cloud { @extend .iconic-cloud }
    &.iconic-eye { @extend .iconic-eye }
    &.iconic-play_alt  { @extend .iconic-play_alt }
    &.iconic-transfer  { @extend .iconic-transfer }
    &.iconic-pen_alt2  { @extend .iconic-pen_alt2 }
    &.iconic-camera  { @extend .iconic-camera }
    &.iconic-move_horizontal_alt2  { @extend .iconic-move_horizontal_alt2 }
    &.iconic-curved_arrow  { @extend .iconic-curved_arrow }
    &.iconic-move_horizontal_alt1  { @extend .iconic-move_horizontal_alt1 }
    &.iconic-aperture  { @extend .iconic-aperture }
    &.iconic-reload_alt  { @extend .iconic-reload_alt }
    &.iconic-magnifying_glass  { @extend .iconic-magnifying_glass }
    &.iconic-calendar_alt_fill { @extend .iconic-calendar_alt_fill }
    &.iconic-fork  { @extend .iconic-fork }
    &.iconic-box { @extend .iconic-box }
    &.iconic-map_pin_fill  { @extend .iconic-map_pin_fill }
    &.iconic-bars_alt  { @extend .iconic-bars_alt }
    &.iconic-volume  { @extend .iconic-volume }
    &.iconic-x_alt { @extend .iconic-x_alt }
    &.iconic-link  { @extend .iconic-link }
    &.iconic-move_vertical { @extend .iconic-move_vertical }
    &.iconic-eyedropper  { @extend .iconic-eyedropper }
    &.iconic-spin  { @extend .iconic-spin }
    &.iconic-rss { @extend .iconic-rss }
    &.iconic-info  { @extend .iconic-info }
    &.iconic-target  { @extend .iconic-target }
    &.iconic-cursor  { @extend .iconic-cursor }
    &.iconic-key_fill  { @extend .iconic-key_fill }
    &.iconic-minus { @extend .iconic-minus }
    &.iconic-book_alt  { @extend .iconic-book_alt }
    &.iconic-headphones  { @extend .iconic-headphones }
    &.iconic-hash  { @extend .iconic-hash }
    &.iconic-arrow_left_alt1 { @extend .iconic-arrow_left_alt1 }
    &.iconic-arrow_left_alt2 { @extend .iconic-arrow_left_alt2 }
    &.iconic-fullscreen_exit { @extend .iconic-fullscreen_exit }
    &.iconic-share { @extend .iconic-share }
    &.iconic-fullscreen_alt  { @extend .iconic-fullscreen_alt }
    &.iconic-comment_alt2_fill { @extend .iconic-comment_alt2_fill }
    &.iconic-moon_fill { @extend .iconic-moon_fill }
    &.iconic-at  { @extend .iconic-at }
    &.iconic-chat  { @extend .iconic-chat }
    &.iconic-move_vertical_alt2  { @extend .iconic-move_vertical_alt2 }
    &.iconic-move_vertical_alt1  { @extend .iconic-move_vertical_alt1 }
    &.iconic-check { @extend .iconic-check }
    &.iconic-mic { @extend .iconic-mic }
    &.iconic-book  { @extend .iconic-book }
    &.iconic-move_alt1 { @extend .iconic-move_alt1 }
    &.iconic-move_alt2 { @extend .iconic-move_alt2 }
    &.iconic-document_fill { @extend .iconic-document_fill }
    &.iconic-plus  { @extend .iconic-plus }
    &.iconic-wrench  { @extend .iconic-wrench }
    &.iconic-play  { @extend .iconic-play }
    &.iconic-star  { @extend .iconic-star }
    &.iconic-document_alt_fill { @extend .iconic-document_alt_fill }
    &.iconic-chart { @extend .iconic-chart }
    &.iconic-rain  { @extend .iconic-rain }
    &.iconic-folder_fill { @extend .iconic-folder_fill }
    &.iconic-new_window  { @extend .iconic-new_window }
    &.iconic-user  { @extend .iconic-user }
    &.iconic-battery_half  { @extend .iconic-battery_half }
    &.iconic-aperture_alt  { @extend .iconic-aperture_alt }
    &.iconic-eject { @extend .iconic-eject }
    &.iconic-arrow_down_alt1 { @extend .iconic-arrow_down_alt1 }
    &.iconic-pilcrow { @extend .iconic-pilcrow }
    &.iconic-arrow_down_alt2 { @extend .iconic-arrow_down_alt2 }
    &.iconic-arrow_right_alt1  { @extend .iconic-arrow_right_alt1 }
    &.iconic-arrow_right_alt2  { @extend .iconic-arrow_right_alt2 }
    &.iconic-rss_alt { @extend .iconic-rss_alt }
    &.iconic-spin_alt  { @extend .iconic-spin_alt }
    &.iconic-sun_fill  { @extend .iconic-sun_fill }
 }
}

