// EntypoRegular Icons
$er-comment: "\e008"; 
$er-shuffle: "\1f500"; 
$er-help: "\2753"; 
$er-help-circle: "\e00e"; 
$er-eye: "\e01d"; 
$er-moon: "\263d"; 
$er-list-add: "\e003"; 
$er-image-list: "\268f"; 
$er-flash: "\26a1"; 
$er-attach: "\e004"; 
$er-top-list: "\1f3c9"; 
$er-camera: "\1f4f7"; 
$er-music: "\1f3b5"; 
$er-location: "\e011"; 
$er-forward: "\27a6"; 
$er-shopping-cart: "\e000"; 
$er-direction: "\e00b"; 
$er-clock: "\1f554"; 
$er-mouse: "\e014"; 
$er-hourglass: "\23f3"; 
$er-vcard: "\e00a"; 
$er-user: "\1f464"; 
$er-wifi: "\e006"; 
$er-phone: "\1f4de"; 
$er-flag: "\2691"; 
$er-link: "\1f517"; 
$er-compass: "\e009"; 
$er-pencil: "\2703"; 
$er-rss: "\e01b"; 
$er-info: "\2139"; 
$er-level-down: "\21b3"; 
$er-film: "\1f3ac"; 
$er-settings: "\2699"; 
$er-reload-CCW: "\27f2"; 
$er-list: "\2630"; 
$er-thumbs-up: "\1f4dd"; 
$er-reply-all: "\e019"; 
$er-minus: "\2796"; 
$er-heart: "\2665"; 
$er-tag: "\e015"; 
$er-lock: "\1f512"; 
$er-share: "\e01c"; 
$er-back: "\e005"; 
$er-reload-CW: "\27f3"; 
$er-warning: "\26a0"; 
$er-export: "\e00c"; 
$er-chat: "\e007"; 
$er-flight: "\2708"; 
$er-calendar: "\1f4c5"; 
$er-retweet: "\e01a"; 
$er-palette: "\1f3a8"; 
$er-leaf: "\1f342"; 
$er-lock-open: "\1f513"; 
$er-mic: "\1f3a4"; 
$er-users: "\1f465"; 
$er-print: "\e017"; 
$er-user-add: "\e001"; 
$er-mail: "\2709"; 
$er-target: "\1f3af"; 
$er-map: "\e012"; 
$er-info-circle: "\e00f"; 
$er-google-circles: "\e00d"; 
$er-star: "\2605"; 
$er-quote-right: "\275e"; 
$er-plus-circle: "\e016"; 
$er-bell: "\1f514"; 
$er-address: "\e002"; 
$er-minus-circle: "\e013"; 
$er-search: "\1f50d"; 
$er-check: "\2713"; 
$er-mobile: "\1f4f1"; 
$er-cancel: "\2716"; 
$er-close: "\2715"; 
$er-lifebuoy: "\e010"; 
$er-plus: "\2795"; 
$er-reply: "\e018"; 
$er-block: "\1f6ab"; 