// IconicStroke Icons
$is-lightbulb: "\e063";
$is-equalizer: "\e052";
$is-map_pin_stroke: "\e068";
$is-brush_alt: "\e01c";
$is-move: "\e03e";
$is-paperclip: "\e08a";
$is-pen_alt_stroke: "\e005";
$is-move_vertical: "\e03b";
$is-book_alt2: "\e06a";
$is-layers: "\e01f";
$is-pause: "\e049";
$is-layers_alt: "\e020";
$is-cloud_upload: "\e045";
$is-chart_alt: "\e029";
$is-fullscreen_exit_alt: "\e051";
$is-cloud_download: "\e044";
$is-comment_alt2_stroke: "\e004";
$is-mail: "\2709";
$is-check_alt: "\2714";
$is-document_stroke: "\e066";
$is-battery_charging: "\e05d";
$is-stop: "\e04a";
$is-arrow_up: "\2191";
$is-move_horizontal: "\e038";
$is-compass: "\e021";
$is-minus_alt: "\e009";
$is-battery_empty: "\e05c";
$is-map_pin_alt: "\e002";
$is-unlock_stroke: "\e076";
$is-lock_stroke: "\e075";
$is-question_mark: "\003f";
$is-list: "\e055";
$is-upload: "\e043";
$is-reload: "\e030";
$is-loop_alt4: "\e035";
$is-loop_alt3: "\e034";
$is-loop_alt2: "\e033";
$is-loop_alt1: "\e032";
$is-left_quote: "\275d";
$is-x: "\2717";
$is-last: "\e04d";
$is-document_alt_stroke: "\e000";
$is-bars: "\e06f";
$is-arrow_left: "\2190";
$is-arrow_down: "\2193";
$is-download: "\e042";
$is-home: "\2302";
$is-calendar: "\e001";
$is-right_quote_alt: "\e012";
$is-fullscreen: "\e04e";
$is-dial: "\e058";
$is-plus_alt: "\e008";
$is-clock: "\e079";
$is-movie: "\e060";
$is-steering_wheel: "\e024";
$is-pen: "\270e";
$is-tag_stroke: "\e02b";
$is-pin: "\e067";
$is-denied: "\26d4";
$is-left_quote_alt: "\e011";
$is-volume_mute: "\e071";
$is-arrow_up_alt2: "\e018";
$is-list_nested: "\e056";
$is-arrow_up_alt1: "\e014";
$is-comment_stroke: "\e06d";
$is-undo: "\e02f";
$is-umbrella: "\2602";
$is-bolt: "\26a1";
$is-article: "\e053";
$is-read_more: "\e054";
$is-beaker: "\e023";
$is-beaker_alt: "\e010";
$is-battery_full: "\e073";
$is-arrow_right: "\2192";
$is-new_window: "\e059";
$is-plus: "\2795";
$is-cog: "\2699";
$is-key_stroke: "\26bf";
$is-first: "\e04c";
$is-comment_alt1_stroke: "\e003";
$is-trash_stroke: "\e05a";
$is-image: "\e027";
$is-chat_alt_stroke: "\e007";
$is-cd: "\e064";
$is-right_quote: "\275e";
$is-brush: "\e01b";
$is-cloud: "\2601";
$is-eye: "\e025";
$is-play_alt: "\e048";
$is-transfer: "\e041";
$is-pen_alt2: "\e006";
$is-camera: "\e070";
$is-move_horizontal_alt2: "\e03a";
$is-curved_arrow: "\2935";
$is-move_horizontal_alt1: "\e039";
$is-aperture: "\e026";
$is-reload_alt: "\e031";
$is-magnifying_glass: "\e074";
$is-iphone: "\e06e";
$is-fork: "\e046";
$is-box: "\e06b";
$is-bars_alt: "\e00a";
$is-heart_stroke: "\2764";
$is-volume: "\e072";
$is-x_alt: "\2718";
$is-link: "\e077";
$is-moon_stroke: "\263e";
$is-eyedropper: "\e01e";
$is-spin: "\e036";
$is-rss: "\e02c";
$is-info: "\2139";
$is-target: "\e02a";
$is-cursor: "\e057";
$is-minus: "\2796";
$is-book_alt: "\e00b";
$is-headphones: "\e061";
$is-hash: "\0023";
$is-arrow_left_alt1: "\e013";
$is-arrow_left_alt2: "\e017";
$is-fullscreen_exit: "\e050";
$is-share: "\e02e";
$is-fullscreen_alt: "\e04f";
$is-at: "\0040";
$is-chat: "\e05e";
$is-move_vertical_alt2: "\e03d";
$is-move_vertical_alt1: "\e03c";
$is-check: "\2713";
$is-mic: "\e05f";
$is-calendar_alt_stroke: "\e06c";
$is-book: "\e069";
$is-move_alt1: "\e03f";
$is-move_alt2: "\e040";
$is-award_stroke: "\e022";
$is-wrench: "\e078";
$is-play: "\e047";
$is-star: "\2605";
$is-chart: "\e028";
$is-rain: "\26c6";
$is-folder_stroke: "\e065";
$is-sun_stroke: "\2600";
$is-user: "\e062";
$is-battery_half: "\e05b";
$is-aperture_alt: "\e00c";
$is-eject: "\e04b";
$is-arrow_down_alt1: "\e016";
$is-pilcrow: "\00b6";
$is-arrow_down_alt2: "\e01a";
$is-arrow_right_alt1: "\e015";
$is-arrow_right_alt2: "\e019";
$is-rss_alt: "\e02d";
$is-spin_alt: "\e037";